# Database (MySQL)
DB_HOST=175.6.7.5
DB_PORT=3306
DB_NAME=jumpropeass_student
DB_USER=root
DB_PASSWORD=

# JWT
JWT_ISSUER=jumpropeass
JWT_AUDIENCE=jumpropeass
JWT_SIGNING_KEY=

# WeChat Mini Program (placeholders)
WECHAT_APPID=
WECHAT_SECRET=

# WeChat Pay (placeholders)
WECHAT_PAY_MCHID=
WECHAT_PAY_MCHKEY=
WECHAT_PAY_CERT_SERIAL_NO=
WECHAT_PAY_PRIVATE_KEY_PEM=

